{% extends "board/base.html" %}

{% block content %}
<div class="formcontainer">
	<form  action="{% url 'board:index'%}?search=true" method="post">
		{% csrf_token %}
		{{ search_form }}
		<input type="submit" value="Search" class="btn_submit blue-search right" />
	</form>
</div>
<div>
{% if messages %}
    <ul>
    {% for message in messages %}
		<div class="msgcontainer">
			<li class="msginfo">{{message.title}} 
				<span class="right date">
				<form action="{% url 'board:delete' message.id %}" method="post">
				{% csrf_token %}
				{% if message.author == user %}
					<input type="submit" value="x" class="btn_delete"/>
				{% endif %}
				<strong>{{ message.author }}</strong> @ {{message.date}}</span></form></li>
			<li class="msgcontent">{{message.content}}</li>
		</div>
	{% endfor %}
    </ul>
{% else %}
     <p class="no-messages"><label>No messages <label></p>
{% endif %}
</div>
<div class="paginator">
	{% if messages.has_previous %}
	<span class="left">
		<a href="?page={{ messages.previous_page_number }}">< previous page</a>
	</span>
	{% endif %}
	{% if messages.has_next %}
	<span class="right">
		<a href="?page={{ messages.next_page_number }}">next page ></a>
	</span>
	{% endif %}
	<span class="centered">
		{{ messages.number }} / {{ messages.paginator.num_pages }}
	</span>

</div>
{% if auth %}
<div class="formcontainer">
	<form  action="{% url 'board:index'%}?search=false" method="post">
		{% csrf_token %}
		{{ form }}
		<span class="submit-message">
			<input type="submit" value="Post" class="btn_submit right" style="margin-top:0.5em"/>
		</span>
	</form>
</div>
{% endif %}
{% endblock content %}