{% extends "board/base.html" %}

{% block content %}
<div class="formcontainer">
	<form  action="{% url 'board:index'%}?search=true" method="post">
		{% csrf_token %}
		{{ search_form }}
		<input type="submit" value="Search" class="btn_submit blue-search right" />
	</form>
</div>
<div>
{% if messages %}
    <ul>
    {% for message in messages %}
		<div class="msgcontainer">
			<li class="msginfo">{{message.title}} 
				<span class="right date"><strong>{{ message.author }}</strong> @ {{message.date}}</span></li>
			<li class="msgcontent">{{message.content}}</li>
		</div>
	{% endfor %}
    </ul>
{% else %}
     <p class="no-messages"><label>No messages <label></p>
{% endif %}
</div>
{% if auth %}
<div class="formcontainer">
	<form  action="{% url 'board:index'%}?search=false" method="post">
		{% csrf_token %}
		{{ form }}
		<span class="submit-message">
			<input type="submit" value="Post" class="btn_submit right" style="margin-top:0.5em"/>
		</span>
	</form>
</div>
{% endif %}

<div class="pagination right-with-padding">
    <span class="step-links">
        {% if messages.has_previous %}
            <a href="?page={{ messages.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ messages.number }} of {{ messages.paginator.num_pages }}
        </span>

        {% if messages.has_next %}
            <a href="?page={{ messages.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock content %}